/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background:url("asaah.jpg") no-repeat;
  background-size: cover;



}




main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  background: transparent;
  padding: 20px;
}

section h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

form label {
  display: block;
  margin: 10px 0;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background:transparent;
  backdrop-filter: blur(200px);
  color: #000000;
  text-align: center;
  padding-top: 20px;
  position:absolute;
  bottom: 0;
  width: 100%;
  border-top:2px solid rgb(255, 255, 255);

}

/* Hover effect for navigation links */
nav a:hover {
  text-decoration: underline;
}

  .ku{
    background-color: rgb(58, 158, 70);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    height: 37px;
    width: 70px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5ms,
    color 0.5ms;
    }
    .ku:hover{
      background-color: rgb(112, 190, 102);
      color: rgb(37, 43, 58);
      box-shadow: 5px 5px 2px rgba(0,0,0,0.1);
    }
    
    .form{
      width: 60%;
      border:white;
    }
    .section{
      backdrop-filter: blur(5px);
      color:#000000;
      background:transparent;
      border-color: #ffffff;
      border: solid white;
      border-radius: 50px;
      width:1000px;
      
    }
    .sect1{
      margin-top: 15px;
      margin-left: 10px;
    }
    .sect1 a{
    
      text-decoration: none;
      background:transparent;
      backdrop-filter: blur(10px);
      color:rgb(0, 0, 0);
      border: none;
      border-radius: 35px;
      padding:10px;
      background-position: fixed;
      font-weight: bold;
      font-size: 14px;
      
      transition: backdrop-filter 0.3s, background-color 0.3s, color 0.3s, padding 0.1s;
      
      border:1px solid;
    
    
    }
    .sect1 a:hover{
      cursor: pointer;
      padding:8px;
      background-color: black;
      color:gold;
      
    }
   h2{
    color:white;
   }