body {
  font-family: Arial, sans-serif;
  background:url("ppo.jpg") no-repeat;
  background-size: cover;
}
.profile {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background:transparent;
  backdrop-filter: blur(100px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid silver;
  opacity: 0;
  transform: translateX(30px);
  animation: moveLeft 1s linear forwards;
  
  }
	@keyframes moveLeft{
		100%{
opacity: 1;
transform: translateX(0px);

		}
	}

.profile h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.profile p {
  margin-bottom: 10px;
}
.profile .position {
  font-style: italic;
  color: #666;
}
.profile .requests {
  color: #007bff;
  text-decoration: none;
}
.profile .email {
  color: #333;
}
.profile .schedule {
  font-weight: bold;
}
.profile .aa{
  text-decoration: none;
	background-color: rgb(37, 37, 37);
	color: white;
	border: none;
	border-radius: 35px;
	padding:10px;
	background-position: fixed;
	font-weight: bold;
	font-size: 14px;
  
	transition: background-color 0.3s, color 0.3s, padding 0.1s;
	right:3px;
	margin-top: 2px;
	margin-top: 5px;

}
.profile a:hover{
  text-decoration: underline;
}
.profile .aa:hover{
	cursor: pointer;
	padding:8px;
	background-color: rgb(138, 138, 138);
	color: black;

}
.sect1{
  margin-top: 19px;
  margin-left: 5px;;
}
.sect1 a{
text-decoration: none;
background:transparent;
backdrop-filter: blur(10px);
color:silver;
border: none;
border-radius: 35px;
padding:10px;
background-position: fixed;
font-weight: bold;
font-size: 14px;

transition: backdrop-filter 0.3s, background-color 0.3s, color 0.3s, padding 0.1s;
right:3px;
margin-top: 2px;
margin-top: 5px;
border:1px solid;


}
.sect1 a:hover{
cursor: pointer;
padding:8px;
background-color: black;
color:gold;

}
footer{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position:fixed;
  bottom: 0;
  width: 100%;
  left:0;

} 
.kbi{
  width: 200px;
  border-radius: 100px;
}
