*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  
}
body{

background:url("ppo.jpg") no-repeat;
background-size: cover;
}
.sect1{
  display:block;
  justify-content: center;
  align-items: center;

	margin-left:10px;
	margin-top: 15px;
}
.sect1 a{
  text-decoration: none;
	background:transparent;
	backdrop-filter: blur(10px);
	color:silver;
	border: none;
	border-radius: 35px;
	padding:10px;
	background-position: fixed;
	font-weight: bold;
	font-size: 14px;
  
	transition: backdrop-filter 0.3s, background-color 0.3s, color 0.3s, padding 0.1s;
	
	border:1px solid;


}
.sect1 a:hover{
	cursor: pointer;
	padding:8px;
	background-color: black;
	color:gold;

}
.sect2{
display:flex;
justify-content: center;
height: 100vh;
align-items: center;
/*background-color:cadetblue ;*/
}


.wrapper{
color:aliceblue;
background:transparent;
backdrop-filter: blur(300px);
width:420px;
height:400px;
border-radius:20px;
padding: 10px;
opacity: 0;
border:solid black;
transform: translateY(0px);
animation: moveup 1s linear forwards;
  
  }
	@keyframes moveup{
		100%{
opacity: 1;
transform: translateY(30px);

		}
	}


.newLine{
width: 100%;
}

.forHeight{
height: 50px;
padding-left: 50px;
padding-right: 50px;
}



#submit{
background-color:mediumseagreen;
margin-top: 85px;
color:white;
border-radius: 10px;
height:36px;
width: 80%;
border-color: aliceblue;
}



.btn{
padding-left: 10%;
padding-right: 20%;
/*padding-top: 2%;*/
}
.btn :hover{
  cursor: pointer;
border:solid;
border-color:black ;

}
h2{
text-align: center;
}
.container{
  background-color: #0f0d1876;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-bottom: 1px;
  padding-bottom: 2%;
vertical-align: top;
}
.footer-about{
    width: 65%;
    padding-right: 30%;
    padding-left: 5%;
    padding-top: 3%;
    
}
.copyright{
   
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #0f0d1876;
}
.quick-links a{
  color: black;
}
.icon-div{
  display: flex;
}
.icons{
  padding-top: 3%;
  list-style: none;
}
.get-in-touch{
  padding-bottom:2%;
 
}
footer{
  left:0;
  padding:10px;
  background-color: rgb(88, 88, 88);
  text-align: center;
}